/* *{
    margin: 0;
    padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: white;
    background-color: var(--seccolor);
}

/* variables */
:root {
    --color: #172d54;
    --seccolor: #1f4789;
    --primcolor: #495057;
    --whitecolor: white;
}

/* Start to make nav bar */
h1 {
    margin: 20px 0;
    color: #fff;
}

.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 97.4%;
    height: 80px;
    border-radius: 0 0 15px 15px;
    padding: 0 25px;
    z-index: 2;
    background: var(--color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: -8px;
}

.nav-container .nav-tabs a:hover {
    background-color: var(--seccolor);
    border-radius: 35px;
    padding: 12px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.nav-tabs {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
}

.nav-tab:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
}

.nav-tab:last-child {
    padding: 10px 0 0 25px;
}

.nav-tabs li a {
    text-decoration: none;
    color: var(--whitecolor);
}

.nav-tab,
.menu-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-container {
        position: fixed;
        display: none;
        overflow-y: auto;
        z-index: -1;
        top: 0;
        right: 0;
        width: 280px;
        height: 100%;
        background: var(--color);
        box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }

    .nav-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        height: 80px;
        border-radius: 0 0 15px 15px;
        padding: 0 25px;
        z-index: 2;
        background: var(--color);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin: -8px;
    }

    .nav-tabs li a {
        color: var(--whitecolor);
    }

    .nav-tabs {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 80px;
        width: 100%;
        position: relative;
        right: 2em;
    }

    .nav-tab:not(:last-child) {
        padding: 20px 25px;
        margin: 0;
    }

    .nav-tab:last-child {
        padding: 15px 25px;
    }

    .menu-btn {
        position: relative;
        display: block;
        margin: 0;
        width: 20px;
        height: 15px;
        cursor: pointer;
        z-index: 2;
        padding: 10px;
        border-radius: 10px;
    }

    .menu-btn .menu {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: var(--whitecolor);
    }

    .menu-btn .menu:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .menu-btn .menu:nth-child(3) {
        margin-top: 4px;
    }

    #menuToggle:checked+.menu-btn .menu {
        transition: transform 0.2s ease;
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(1) {
        transform: translate3d(0, 6px, 0) rotate(45deg);
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(2) {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(3) {
        transform: translate3d(0, -6px, 0) rotate(-45deg);
    }

    #menuToggle:checked~.nav-container {
        z-index: 1;
        display: flex;
        animation: menu-slide-left 0.3s ease;
    }

    @keyframes menu-slide-left {
        0% {
            transform: translateX(200px);
        }

        to {
            transform: translateX(0);
        }
    }
}

@media (min-width: 360px) and (max-width: 915px) {
    .nav-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 89.2%;
        height: 80px;
        border-radius: 0 0 15px 15px;
        padding: 0 25px;
        z-index: 2;
        background: var(--color);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin: -8px;
    }

}

/* ending of navbar */

/* school image responsive */
@media (min-width: 768px) {
    img {
        bottom: -30px;
        left: 2px;
    }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    img {
        top: 100px;
    }
}

/* starting text about school */
.header {
    margin: 30px;
    position: relative;
    top: 95px;
}

.text {
    position: relative;
    top: 105px;
    margin: 30px;
    width: 90%;
}

.color-word {
    color: var(--seccolor);
}

/* ending text about school  */

/* this is responsive for text*/
@media only screen and (min-width: 600px) {
    .header {
        margin-top: -33px;
    }
}

/* this is also for text  */
@media only screen and (max-width: 600px) {
    .school-image {
        position: relative;
        bottom: 43px;
        left: 5px;
        margin: 3px;

    }
}

/* ending responsive text */

/* started video of promotiom of school */
.video {
    position: relative;
    top: 70em;
    gap: 45px;
    left: 3.56em;
    flex-direction: column;
    /* Added to display in column by default */
}

.video iframe {
    padding: 22px;
}


.video-head {
    position: relative;
    top: 70em;
    left: 5em;
}

@media (max-width: 360px) {
    .video iframe {
        width: 100%;
        padding: 5px;
    }

    .video {
        position: relative;
        left: -5px;
        top: 78em;
        flex-direction: row;
        /* Changed to display in row on smaller screens */
    }

    .video-head {
        position: relative;
        top: 78em;
        left: 2.5em;
    }
}

/* ending video of promotion of school */

/* starting facebook page of school */
.facebook-page {
    position: relative;
    bottom: 2em;
    left: 2em;
}

.facebook-head {
    position: relative;
    bottom: 2em;
    left: 2em;
}

@media (max-width: 360px) {
    .facebook-page {
        display: flex;
    }

    .facebook-head {
        position: relative;
        bottom: 11em;
        left: 2em;
    }
}

@media (min-width: 360px) and (max-width: 915px) {
    .facebook-page {
        position: relative;
        bottom: 22em;
        left: 2em;
    }

    .facebook-head {
        position: relative;
        bottom: 23em;
        left: 2em;
    }
}

/* ending facebook page of school */

/* starting events of school *
/* starting for laptop responsive  */
#slide1 {
    display: none;
}

#slide2 {
    display: none;
}

#slide3 {
    display: none;
}

#slide4 {
    display: none;
}

.header-box {
    position: relative;
    top: 48em;
    margin: 20px;
    left: 0.5em;
}

@media (min-width: 1024px) {
    .slide-box img {
        width: 16em;
        height: 20em;
        margin: 1px;
        position: relative;
        left: 3px;
        border-radius: 10px;
        padding: 5px;
    }

    .slides-box {
        display: flex;
        position: relative;
        top: 45em;
        margin: 35px;
    }

    .slide-box h5 {
        overflow: hidden;
        width: 24vw;
        z-index: 2;
        display: flex;
        position: relative;
        top: -2em;
        right: 1em;
        font-size: 12px;
        font-weight: 900;
    }

    .slide-box h6 {
        border: 2px solid black;
        display: inline-block;
        padding: 4px;
        background-color: var(--color);
        position: relative;
        bottom: 24px;
        left: 45px;
        border-radius: 6px;
    }
}

/* ending laptop responsive  */
/* ending events of school *

/* starting news of school *
/* starting for laptop responsive  */
#news1 {
    display: none;
}

#news2 {
    display: none;
}

#news3 {
    display: none;
}

#news4 {
    display: none;
}

.news-header h2 {
    position: relative;
    top: 29em;
    left: 1em;
}

@media (min-width: 1024px) {
    .news-box img {
        width: 16em;
        height: 20em;
        margin: 1px;
        position: relative;
        left: -18px;
        border-radius: 10px;
        padding: 5px;
    }

    .news-container {
        display: flex;
        position: relative;
        top: 40em;
        margin: 35px;
        left: 25px;
    }

    .news-box h5 {
        overflow: hidden;
        width: 24vw;
        z-index: 2;
        display: flex;
        position: relative;
        top: -2em;
        right: 1em;
        font-size: 12px;
        font-weight: 900;
    }

    .news-box h6 {
        border: 2px solid black;
        display: inline-block;
        padding: 4px;
        background-color: var(--color);
        position: relative;
        bottom: 24px;
        left: 30px;
        border-radius: 6px;
    }
}

/* ending laptop responsive  */

/* starting tablet responsive */
@media (min-width: 400px) and (max-width: 915px) {
    .news-container {
        display: flex;
    }

    .news-header h2 {
        position: relative;
        top: 31.5em;
        left: 1em;
    }

    .news-box h5 {
        position: relative;
        top: 60em;
        font-size: 12px;
        font-weight: 900;
    }

    .news-box h6 {
        border: 2px solid black;
        display: inline-block;
        padding: 4px;
        background-color: var(--color);
        position: relative;
        bottom: 24px;
        left: 30px;
        border-radius: 6px;
        top: 66em;
    }

    .news-box img {
        width: 14em;
        height: 20em;
        /* padding: 0.6px; */
        position: relative;
        top: 47em;
    }
}

/* ending tablet responsive */

/* starting responsive for mobile only  */
@media (max-width: 480px) {

    .news-header h2 {
        position: relative;
        top: 30em;
        margin: 20px;
    }

    .news-box h5 {
        display: none;
    }

    .news-box h6 {
        display: none;
    }

    .radio-box {
        position: relative;
        width: 100%;
        /* Make the box container full width */
        max-width: 800px;
        /* Increase max-width for wider display */
        margin: auto;
        overflow: hidden;
        aspect-ratio: 4 / 3;
        border-radius: 10px;
        position: relative;
        top: 45em;
        width: 21em;
    }

    .news-container {
        display: flex;
        width: 400%;
        /* This remains to accommodate all slides */
        height: 100%;
        transition: transform 0.5s ease;
        position: relative;
    }

    .news-box {
        flex: 0 0 25%;
        height: 130%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -15em;
        bottom: 0.6em;
    }

    .news-box img {
        object-fit: contain;
        /* Ensure the entire image is visible */
        display: block;
        height: 38em;
        position: relative;
        top: 0.9em;
        top: 2em;
    }

    input[name="news"] {
        display: none;
    }

    input[name="news"]:nth-of-type(1):checked~.news-container {
        transform: translateX(18%);
    }

    input[name="news"]:nth-of-type(2):checked~.news-container {
        transform: translateX(-16.5%);
    }

    input[name="news"]:nth-of-type(3):checked~.news-container {
        transform: translateX(-58%);
    }

    input[name="news"]:nth-of-type(4):checked~.news-container {
        transform: translateX(-105%);
    }

    .news-navigation {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

    .news-navigation label {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    input[name="news"]:nth-of-type(1):checked~.news-navigation label:nth-of-type(1),
    input[name="news"]:nth-of-type(2):checked~.news-navigation label:nth-of-type(2),
    input[name="news"]:nth-of-type(3):checked~.news-navigation label:nth-of-type(3),
    input[name="news"]:nth-of-type(4):checked~.news-navigation label:nth-of-type(4) {
        background: #333;
    }


}

/* ending responsive for mobile  */
/* ending events of school */

/* starting tablet responsive */
@media (min-width: 400px) and (max-width: 915px) {
    .slides-box {
        display: flex;
    }

    .header-box h2 {
        position: relative;
        top: -0.5em;
    }

    .slide-box h5 {
        position: relative;
        top: 60em;
        font-size: 12px;
        font-weight: 900;
    }

    .slide-box h6 {
        border: 2px solid black;
        display: inline-block;
        padding: 4px;
        background-color: var(--color);
        position: relative;
        bottom: 24px;
        left: 30px;
        border-radius: 6px;
        top: 66em;
    }

    .slide-box img {
        width: 14em;
        height: 20em;
        /* padding: 0.6px; */
        position: relative;
        top: 47em;
    }
}

/* ending tablet responsive */

/* starting responsive for mobile only  */
@media (max-width: 360px) {

    .header-box {
        position: relative;
        top: 50em;
        margin: 20px;
    }

    .slide-box h5 {
        display: none;
    }

    .slide-box h6 {
        display: none;
    }

    .box {
        position: relative;
        width: 100%;
        /* Make the box container full width */
        max-width: 800px;
        /* Increase max-width for wider display */
        margin: auto;
        overflow: hidden;
        aspect-ratio: 4 / 3;
        border-radius: 10px;
        position: relative;
        top: 50em;
        width: 21em;
    }

    .slides-box {
        display: flex;
        width: 400%;
        /* This remains to accommodate all slides */
        height: 100%;
        transition: transform 0.5s ease;
    }

    .slide-box {
        flex: 0 0 25%;
        height: 130%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -15em;
        bottom: 0.6em;
    }

    .slide-box img {
        object-fit: contain;
        /* Ensure the entire image is visible */
        display: block;
        height: 38em;
        position: relative;
        top: 0.9em;
    }

    input[name="sliders"] {
        display: none;
    }

    input[name="sliders"]:nth-of-type(1):checked~.slides-box {
        transform: translateX(18%);
    }

    input[name="sliders"]:nth-of-type(2):checked~.slides-box {
        transform: translateX(-16.5%);
    }

    input[name="sliders"]:nth-of-type(3):checked~.slides-box {
        transform: translateX(-58%);
    }

    input[name="sliders"]:nth-of-type(4):checked~.slides-box {
        transform: translateX(-105%);
    }

    .navigation-box {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

    .navigation-box label {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    input[name="slider"]:nth-of-type(1):checked~.navigation-box label:nth-of-type(1),
    input[name="slider"]:nth-of-type(2):checked~.navigation-box label:nth-of-type(2),
    input[name="slider"]:nth-of-type(3):checked~.navigation-box label:nth-of-type(3),
    input[name="slider"]:nth-of-type(4):checked~.navigation-box label:nth-of-type(4) {
        background: #333;
    }


}

/* ending responsive for mobile  */
/* ending events of school */

/* this is the starting footer of the website */
.footer {
    background-color: var(--color);
    padding: 70px 0;
    margin-top: 51em;
    border-top-left-radius: 188px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    position: relative;
    left: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
    position: relative;
    left: 35px;
}

.footer-col .social-link a:hover {
    color: #24262b;
    background-color: #fff;
}

/* responsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* ending of footer */

/* visions of school */
.main-text {
    position: relative;
    top: 50rem;
    margin: 22px;
}

.main-text .icon-2 ol li i {
    color: var(--seccolor);
}

.main-text .icon-3 ol li i {
    color: var(--seccolor);
}

.main-text .icon-4 ol li i {
    color: var(--seccolor);
}

.main-text .icon-5 ol li i {
    color: var(--seccolor);
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    /* Adjust the distance from the text */
    height: 2px;
    /* Adjust the thickness of the underline */
    background-color: currentColor;
}

.highlight {
    color: var(--seccolor);
}

.fa-ul>li {
    color: #4e504f;
}

/* ending vision of school */

/* started auto image slider  */
.academics {
    position: relative;
    top: 51.5em;
    left: 5.5em;
}

@media (max-width: 768px) {
    .academics {
        position: relative;
        left: 2em;
    }
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    /* Centers the container horizontally */
    padding: 20px 0;
    /* Adds some padding to the top and bottom */
    position: relative;
    top: 50em;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex: 1 0 33.3333%;
    /* Three images per view */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 100%;
    /* Makes sure the card takes full width */
    max-width: 400px;
    /* Optional: limits the max-width of the card */
    margin: 10px;
    /* Adds space between cards */
    background-color: var(--seccolor);
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: 25em;
    position: relative;
    top: 0;
    left: 0;
}

.card-content {
    padding: 17px;
}

.card-content h3 {
    margin: 13px;
    font-size: 18px;
    color: #fff;
}

@media (min-width: 360px) and (max-width: 915px) {
    .card-content h3 {
        margin: 13px;
        font-size: 12px;
        color: #fff;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .card-content h3 {
        width: 13em;
    }
}


/* Add automatic navigation */
@keyframes slide-animation {

    0%,
    8.33% {
        transform: translateX(0);
    }

    16.66%,
    25% {
        transform: translateX(-33.3333%);
    }

    33.33%,
    41.66% {
        transform: translateX(-66.6666%);
    }

    50%,
    58.33% {
        transform: translateX(-100%);
    }

    66.66%,
    75% {
        transform: translateX(-133.3333%);
    }

    83.33%,
    91.66% {
        transform: translateX(-166.6666%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.slider {
    animation: slide-animation 18s infinite;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .slide-container {
        width: 100%;
        padding: 10px 0;
    }

    .slide {
        flex: 1 0 100%;
        /* One image per view */
    }

    @keyframes slide-animation {

        0%,
        11.11% {
            transform: translateX(0);
        }

        22.22%,
        33.33% {
            transform: translateX(-100%);
        }

        44.44%,
        55.55% {
            transform: translateX(-200%);
        }

        66.66%,
        77.77% {
            transform: translateX(-300%);
        }

        88.88%,
        100% {
            transform: translateX(-400%);
        }
    }

    .slider {
        animation: slide-animation 30s infinite;
    }

    .card-content h3 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .card-content h3 {
        font-size: 18px;
    }

    .card {
        max-width: 300px;
        /* Optional: adjust max-width for smaller screens */
        height: 32em;
    }
}

/* ending of auto image slider  */

/* starting gallery image of school */
.gallery-image img {
    height: 15em;
    width: 15em;
    padding: 4px;
    position: relative;
    left: 2em;
}

@media (max-width: 360px) {
    .gallery-image img {
        height: 18em;
        width: 20em;
        padding: 7px;
        position: relative;
        top: 1em;
        left: 0;
    }
}

/* ending gallery image of school */

/* starting about section of text and image */
.school-image2 img {
    height: auto;
    width: 58%;
    position: relative;
    top: 70px;
}

.school-image2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 p {
    font-size: 25px;
    font-weight: 504;
    width: 57vw;
}

.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 h2 {
    position: relative;
    bottom: 21.5em;
    margin: 22px;
}

/* responsive for tablet */
@media (min-width: 400px) and (max-width: 915px) {
    .header2 h2 {
        position: relative;
        bottom: 14.5em;
        margin: 22px;
    }
}

/* responsive for mobile */
@media (max-width: 360px) {
    .school-image2 img {
        height: auto;
        width: 85%;
        position: relative;
        top: 90px;
    }

    .text2 p {
        position: relative;
        margin: 30px;
        width: 90%;
        font-size: medium;
        top: 60px;
    }

    .text2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header2 h2 {
        position: relative;
        bottom: 8.7em;
        margin: -3px;
        font-size: 20px;
        left: 5px;
    }
}

/* ending about section of tex and images */

/* started title-wrapper */
.title-wrapper {
    background-color: var(--primcolor);
    padding: 60px;
    margin-top: 20px;
    width: 90vw;
}

.title-wrapper h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.yellow-line {
    width: 5px;
    height: 15%;
    background-color: #FFC107;
    position: absolute;
    left: 46px;
    top: 180px;
}

/* responsive for mobile */
@media (max-width: 360px) {
    .title-wrapper {
        background-color: var(--primcolor);
        padding: 20px;
        margin-top: 20px;
        width: 84vw;
    }

    .title-wrapper h1 {
        font-size: 30px;
        padding: 15px;
    }

    .yellow-line {
        width: 5px;
        height: 6%;
        background-color: #FFC107;
        position: absolute;
        left: 21px;
        top: 150px;
    }
}

/* responsive for tablet */
@media (min-width: 400px) and (max-width: 915px) {
    .yellow-line {
        width: 5px;
        height: 23%;
        background-color: #FFC107;
        position: absolute;
        left: 40px;
        top: 183px;
    }

    .title-wrapper {
        background-color: var(--primcolor);
        padding: 60px;
        margin-top: 20px;
        width: 85vw;
    }
}

/* ended tittle-wrapper */

/* starting nav-baar in gallery */
.navbar2 ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar2 li {
    padding: 20px;
}

.navbar-links2 a {
    text-decoration: none;
    position: relative;
    color: var(--seccolor);
}

.navbar-links2 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--primcolor);
    transition: width 0.3s ease;
}

.navbar-links2 a:hover::after {
    width: 100%;
    left: 0;
}

.navbar2 li {
    padding: 30px;
}

@media (max-width: 360px) {
    .navbar2 ul {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .navbar2 li {
        padding: 10px;
    }

}

@media (min-width: 400px) and (max-width: 915px) {
    .navbar2 li {
        padding: 30px;
    }
}

/* ending nav-bar in gallery */

/* starting nav-baar in facilities */
.navbar3 ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar3 li {
    padding: 20px;
}

.navbar-links3 a {
    text-decoration: none;
    position: relative;
    color: var(--seccolor);
}

.navbar-links3 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--primcolor);
    transition: width 0.3s ease;
}

.navbar-links3 a:hover::after {
    width: 100%;
    left: 0;
}

.navbar3 li {
    padding: 30px;
}

@media (max-width: 360px) {
    .navbar3 ul {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .navbar3 li {
        padding: 10px;
    }
}

@media (min-width: 400px) and (max-width: 915px) {
    .navbar3 li {
        padding: 21px;
    }
}

/* ending nav-bar in facilities */

/* extra image of principal with hover effect */
.principal-image {
    display: flex;
    justify-content: end;
    align-content: end;
    position: relative;
    top: 64em;
    right: 5em;
}

.principal-image img {
    width: 20%;
    border-radius: 50%;
    transition: border-radius 0.3s ease;
    z-index: 1;
}

.principal-image img:hover {
    border-radius: 4%;
}

/* adding card of staffs facilities & Academics */
.card4 {
    width: 24%;
    height: 20%;
    box-shadow: 1px 1px 4px -2px black;
    position: relative;
    left: 4em;
}

.card4 ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card4:hover {
    background: linear-gradient(#172d54, #1e488a, #111d33);
    transition: 0.3s;
    color: var(--whitecolor);
    padding: 2px;
}

.card4 h2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (max-width: 360px) {
    .card4 {
        width: 93%;
        height: 20%;
        box-shadow: 1px 1px 4px -2px black;
        position: relative;
        left: 1em;
    }
}

.card5 {
    width: 24%;
    height: 20%;
    box-shadow: 1px 1px 4px -2px black;
    position: relative;
    left: 4em;
}

.card5 ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card5:hover {
    background: linear-gradient(#172d54, #1e488a, #111d33);
    transition: 0.3s;
    color: var(--whitecolor);
    padding: 2px;
}

.card5 h2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (max-width: 360px) {
    .card5 {
        width: 93%;
        height: 20%;
        box-shadow: 1px 1px 4px -2px black;
        position: relative;
        left: 1em;
    }
}

.card6 {
    width: 24%;
    height: 20%;
    box-shadow: 1px 1px 4px -2px black;
    position: relative;
    left: 4em;
}

.card6 ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card6:hover {
    background: linear-gradient(#172d54, #1e488a, #111d33);
    transition: 0.3s;
    color: var(--whitecolor);
    padding: 2px;
}

.card6 h2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (max-width: 360px) {
    .card6 {
        width: 93%;
        height: 20%;
        box-shadow: 1px 1px 4px -2px black;
        position: relative;
        left: 1em;
    }
}

.container-card {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: -5%;
}

/* started facilities of school */
.facilities-container {
    display: flex;
    justify-content: space-evenly;
}

.facilities-container .facilities i {
    display: flex;
    justify-content: center;
}

.facilities-container2 {
    display: flex;
    justify-content: space-evenly;
}

.facilities-container2 .facilities i {
    display: flex;
    justify-content: center;
}

@media (max-width: 360px) {
    .facilities-container,
    .facilities-container2 {
        display: flex;
        flex-wrap: wrap;
    }
}

/* ended facilities of school */